/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */
/* ==========================================================================
   Animation Portfolio Box
   ========================================================================== */



/* ==========================================================================
   Skills
   ========================================================================== */

.icon {
    padding-left: 25%;
    filter: grayscale(100%);
}
.icon:hover{
	filter: grayscale(0%);
}
.icon2:hover {
    background-color: red;
}


.iconBot:hover{
	/*background-color: white;*/
}



/* ==========================================================================
   About Image
   ========================================================================== */


/* ==========================================================================
   Resume Button
   ========================================================================== */

.resumeBtn{
	margin-top: 15px;
}

/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: white;
    color: white;
    text-shadow: 0 0 40px black;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    /*font-size: 2.5vw;*/

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
#head{
	font-family: 'Amatic SC', cursive !important;
	/*font-weight: 800 !important;*/
	letter-spacing: 10px !important;
}

 h1, h2, h3, h4, h5, h6, p, a, input {
	font-family: 'Julius Sans One', sans-serif !important;
	font-weight: 1000;
    color: black;
}
.navCont{
	background-color: white !important;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}
*/
.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-nav{
	/*margin-left: 33%;*/
	font-size: 18px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* ==========================================================================
   misc
   ========================================================================== */
.portCont{
	/*padding-top: 30px;*/
	height: 100vh;
}
.techCont{
	height: 60vh;
}

.aboutCont{
	/*padding-top: 100px;*/
	height: 100vh;
}






/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108381/paint-splatter-8_copy_xjaxdn.png) no-repeat center top;
	margin-top: 100px;
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 80vh;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#headerwrap1 {
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108381/paint-splatter-8_copy_xjaxdn.png) no-repeat center top;*/
	margin-top: 100px;
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 30vh;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#portfolioImage{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 100vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}
#skillsImage{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492109779/skills_image_hvn7el.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 70vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: 800;
}

#headerwrap1 h1 {
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: 800;
}

#headerwrap h4 {
	font-weight: 400;
	color: black
}

#headerwrap1 h4 {
	font-weight: 400;
	color: black
}

#social {
   position:fixed;
   left:0px;
   bottom:10px;
   height:110px;
   width:100%;
   background:#999;
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background:#999;
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portText{
	padding-bottom: 20px;
}
.port{
	filter: grayscale(100%);
}
.port:hover{
	filter: grayscale(0%);
}

.aboutImage{
	margin-top: 5%;
	max-height: 200px;
	max-width: 200px;
	border-radius: 200px;
	filter: grayscale(100%);
}
.aboutImage:hover{
	filter: grayscale(0%);
}
.aboutText{
	padding-bottom: 20px;
}
.aboutPara{
	/*padding-top: 5%;*/
}
.skillText{
	padding-bottom: 20px;

}




/* Gallery */
.gallery {
	margin-top: 4%;
}

/* portGallery */
.portGallery{
	margin-right: 0%;
	margin-left: 0%;
}

/*.gallery img:hover {
	opacity: 0.4;
}*/

.portImage{
	max-height: 250px; 
	max-width: 400px;
	min-height:250px; 
	min-width:400px;
	/*margin: 5%;*/
	background-size: auto;
}
.flipImage{
	margin: 5%;
	margin-left: 15%;
}

/*FLIP ANIMATION*/

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
	/*border: 1px solid #ccc;*/
}

.flip-container:hover .flipper,  
.flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 380px;
	height: 220px;
}

.flipper {
	-webkit-transition: 2.0s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.0s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 2.0s;
	-o-transform-style: preserve-3d;

	transition: 2.0s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	/*background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: white;
}
.back{
	padding-top: 15px;

}
.backBtn{
	margin: 5%;
}

/*.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}*/

/*.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}
*/
/*.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}
*/
/*.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}*/



