/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */
/* ==========================================================================
   Animation Portfolio Box
   ========================================================================== */



/* ==========================================================================
   Tech Skills (Web Dev Page)
   ========================================================================== */

/*.icon {
    padding-left: 25%;
    filter: grayscale(100%);
}
.icon:hover{
	filter: grayscale(0%);
}
.icon2:hover {
    background-color: red;
}*/

/*
.iconBot:hover{
	background-color: white;
}*/



/* ==========================================================================
   About Image
   ========================================================================== */


/* ==========================================================================
   Resume Button
   ========================================================================== */

.resumeBtn{
	margin-top: 15px;
}

/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: white;
    color: white;
    text-shadow: 0 0 40px black;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: -60px;
}


/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-size: 15px;
    /*font-size: 2.5vw;*/

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
#head{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 15px !important;
}

#head a{
	text-decoration: none;
}

/*
 h1, h2, h3, h4, h5, h6, p, a, input {
	font-family: 'Julius Sans One', sans-serif !important;
	font-weight: 1000;
    color: black;
}*/

 h1, h2, h3, h4, h5, h6, p, a, input {
	font-family: 'Josefin Sans', sans-serif;
	/*font-weight: 100;*/
    color: black;
}

#headwrap h4{
	text-decoration: none;
}

.navCont{
	/*background-color: black !important;*/
	opacity: 0.7;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}
*/
.navbar-default .navbar-nav > li > a {
	color: black;
}

/*.navbar-default .navbar-nav > li > a:hover {
	color: #1abc9c;
}
*/
.navbar-nav{
	/*margin-left: 33%;*/
	font-size: 18px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: right;
  margin-top: 25px;
}

#fade {
	display: none;
}

/* ==========================================================================
   misc
   ========================================================================== */
.portCont{
	/*padding-top: 30px;*/
	height: 100%;
}
.techCont{
	height: 60vh;
}

.aboutCont{
	/*padding-top: 100px;*/
	height: 70vh;
}






/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#navWrap{
	margin-top: 10px;
}


#headerwrap {
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108381/paint-splatter-8_copy_xjaxdn.png) no-repeat center top;*/
	margin-top: 100px;
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 100%;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#headerwrap1 {
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108381/paint-splatter-8_copy_xjaxdn.png) no-repeat center top;*/
	margin-top: 100px;
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 30vh;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#headerwrap2 {
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 55vh;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#headerwrap h1 {
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 6px;
	font-size: 80px;
	/*font-weight: 800;*/
}

#headerwrap1 h1 {
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 6px;
	font-size: 40px;
	/*font-weight: 800;*/
}

#headerwrap2 h1 {
	margin-top: 200px;
	text-align: center;
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 6px;
	font-size: 40px;
	/*font-weight: 800;*/
}

#headerwrap2 h5 {
	margin-top: 180px;
	/*text-align: center;*/
	/*color:black;*/
	/*padding-top: -100px;*/
	/*padding-bottom: 5px;*/
	/*letter-spacing: 4px;*/
	/*font-size: 40px;*/
	/*font-weight: 800;*/
}

#headerwrap h4 {
	font-weight: 400;
	color: black
}

#headerwrap1 h4 {
	font-weight: 400;
	color: black
}

#headerwrap h4{

}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */



#portfolioImage{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 140vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#cinematicWrap{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 150vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#investmentWrap{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 240vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

.row{
	margin-left:50;
	margin-right:50;
}

#aboutWrapWedding{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 110vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#contactWrapWedding {
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 100vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

}

#skillsImage{
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492109779/skills_image_hvn7el.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 90vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#social {
   position:fixed;
   left:0px;
   bottom:10px;
   height:110px;
   width:100%;
   /*background:#999;*/
	padding-top: 75px;
	padding-bottom: 20px;
	opacity: 1;
}

#social i {
	font-size: 40px;
	color: #1abc9c;
	/*color: #4a4a4a*/
}

#social i:hover {
	/*color: #1abc9c*/
	color: #4a4a4a;
}


#footerwrap {
	position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    /*background:#999;*/
	padding-top: 20px;
	padding-bottom: 10px;
	/*background-color: #2f2f2f;*/
}

#footerwrap p {
	color: black;
	margin-left: 10px;
}

#bottom {
	background-color: black;
	overflow: hidden;
    bottom: 100;
    width: 100%;
    /*clear: both;*/
    position: relative;
    /*z-index: 10;*/
    height: 10em;
    margin-top: -10em;
}

#bottom p {
	color: white;
	margin-top: 4%;
}

#contactWrap {
	/*background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1492108869/paint-splatter-1_copy_ciugyc.png) no-repeat center top;*/
	/*margin-top: 100px;*/
	/*padding-top: 220px;*/
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 120vh;
	/*width: 100%;*/
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;

}

#contactWrap h1 {
	text-align: center;;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portText {
	padding-bottom: 20px;
	letter-spacing: 6px;
}

.portText h1{
	letter-spacing: 6px;
}
/*.port{
	filter: grayscale(100%);
}
.port:hover{
	filter: grayscale(0%);
}*/

.aboutImageWedding{
	margin-top: 5%;
	max-height: 300px;
	max-width: 300px;
	border-radius: 1%;
	/*filter: grayscale(100%);*/
}

.aboutImage{
	margin-top: 5%;
	max-height: 300px;
	max-width: 300px;
	border-radius: 50%;
	/*filter: grayscale(100%);*/
}
/*.aboutImage:hover{
	filter: grayscale(0%);
}*/
.aboutText{
	padding-bottom: 20px;
	letter-spacing: 6px;
}


.aboutPara{
	line-height: 2;
	width: 60%;
}
.skillText{
	padding-bottom: 20px;

}




/* Gallery */
.gallery {
	margin-top: 4%;
}

/* portGallery */
.portGallery{
	margin-right: 0%;
	margin-left: 0%;
}

/*.gallery img:hover {
	opacity: 0.4;
}*/

.portImage{
	max-height: 250px; 
	max-width: 400px;
	min-height:250px; 
	min-width:400px;
	/*margin: 5%;*/
	background-size: auto;
}
.flipImage{
	margin: 5%;
	margin-left: 15%;
}

/*FLIP ANIMATION-----------------------------------------------------------------*/

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
	/*border: 1px solid #ccc;*/
}

.flip-container:hover .flipper,  
.flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 380px;
	height: 220px;
}

.flipper {
	-webkit-transition: 2.0s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.0s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 2.0s;
	-o-transform-style: preserve-3d;

	transition: 2.0s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	/*background: url(http://davidwalsh.name/demo/dwflip.jpg) 0 0 no-repeat;*/
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: white;
}
.back{
	padding-top: 15px;

}
.backBtn{
	margin: 5%;
}

/*.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}*/

/*.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	background: url(http://davidwalsh.name/demo/logo.png) 0 0 no-repeat;
}
*/
/*.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}
*/
/*.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}*/

/* ==========================================================================
   Wedding Parallax
   ========================================================================== */


.parallax {
    /* The image used */
    background-image: url("https://res.cloudinary.com/dy6bqhnor/image/upload/v1522365328/_MG_6167-3_brednx.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax1 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522363674/adult-beach-black-and-white-273918_p44w3i.jpg");

    /* Set a specific height */
    min-height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax11 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1527654131/adult-beautiful-blur-219776_hqhfwo.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522363414/adult-bridal-bride-341372_gc63yg.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522361682/Capture_-_Copy_eat11d.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax33 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1527656427/adult-beautiful-blur-302028_ykmzc2.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax4 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1527656421/bride-couple-groom-51322_wrtesx.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax5 {
    /* The image used */
    background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522364578/adults-bride-celebration-388238_mtwugm.jpg");

    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxWeb1 {
    /* The image used */
    background-image: url("https://res.cloudinary.com/dy6bqhnor/image/upload/v1527652742/seattle_skyline_x8xru5_vk9xr6.png");

    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallaxAbout {
    /* The image used */
    /*background-image: url("https://res.cloudinary.com/dy6bqhnor/image/upload/v1527675142/IMG_8368_yxvo5g.jpg");*/

    /* Set a specific height */
    background-color: white;
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxHome {
    /* The image used */
    /*background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522362803/P6060362_ail3ux.jpg");*/
    background-color: white;
    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxWork{
    /* The image used */
    /*background-image: url("http://res.cloudinary.com/dy6bqhnor/image/upload/v1522362803/P6060362_ail3ux.jpg");*/
    background-color: white;
    /* Set a specific height */
    min-height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==========================================================================
   
   ========================================================================== */

