/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL: 
 */

.icon {
    padding-left: 25%;
}
/* ==========================================================================
   Resume Button
   ========================================================================== */

.resumeBtn{
	margin-top: 15px;
}

/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: white;
    color: none;
    text-shadow: 0 0 40px black;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: black;
	background-color: transparent;
	border-bottom: 2px solid #1abc9c
}
*/
.navbar-default .navbar-nav > li > a {
	color: black;
}

.navbar-nav{
	margin-left: 36%;
}

/* ==========================================================================
   misc
   ========================================================================== */
.portCont{
	height: 100vh;
}
.techCont{
	height: 60vh;
}

/*.aboutCont{
	height: 100vh;
}*/






/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(http://res.cloudinary.com/dy6bqhnor/image/upload/v1491603545/seattle_skyline_x8xru5.png) no-repeat center top;
	margin-top: 100px;
	/*padding-top: 220px;*/
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	/*min-height: 650px;*/
	height: 100vh;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

#headerwrap h1 {
	color:black;
	/*padding-top: -100px;*/
	padding-bottom: 5px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: 800;
}

#headerwrap h4 {
	font-weight: 400;
	color: black
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap {	
	background: url(../img/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(../img/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portText{
	padding-bottom: 20px;
}
.aboutImage{
	max-height: 200px;
	max-width: 200px;
	border-radius: 200px;
}
.aboutText{
	padding-bottom: 20px;
}
.aboutPara{
	padding-top: 5%;
}
.skillText{
	padding-bottom: 20px;

}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}

.portImage{
	max-height: 200px; 
	max-width: 350px;
	min-height:200px; 
	min-width:350px;
	margin: 8%;
	background-size: auto;
}